

.text_box {
  width: 100%;
  max-width: 600px; /* Maximum width for better appearance */
  /* overflowWrap: "break-word"; */
  word-wrap: break-word;
  word-break: break-all;
  /* height: 80px; */
  box-sizing: border-box;
  padding: 10px;
  }


.emotions_checkboxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* position:fixed; */
  border:2px solid red;
}
